@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');

body {
    font-family: 'Lato', sans-serif;
    max-width:960px;
}
.body {
    margin:0 auto;
}
header {
    text-align:center;
    background-color:lavender;
    border:none;
    border-radius:10px;
    padding:5px 0 5px 0;
}
#profilePic {
    float:right;
    box-shadow:5px 5px 10px black;
    margin:0 25px 0 0;
}
main {
    text-align:left;
}
footer {
    background-color:lavender;
    border:none;
    border-radius:10px;
    text-align:center;
    padding:5px 0 5px 0;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
}
h1 {
    font-size:1.5rem;
    margin:.15rem;
}
h2 {
    font-size:1rem;
    margin:.15rem;
}
ul {
    list-style-position:inside;
}

