body {
    font-family: 'Lato', sans-serif;
    text-align:center;
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
header, footer {
    background-color:lavender;
    border:none;
    border-radius:7px;
    margin:3em auto;
    grid-column-start:2;
    grid-column-end:4;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
}
ul {
    list-style-position:inside;
}

