@media only screen and (min-width:60rem) {
    nav button {
        display:none;
    }
    nav ul li a {
        padding:.6rem 1rem;
        font-size:1.4em;
    }
    nav ul.hide {
        display:block;
    }
    nav ul li {
        float:left;
        width:20%;
    }



    /* JOIN PAGE */

    form fieldset {
        width:50%;
    }
}