@media only screen and (min-width: 64em) {
    nav {
        flex-wrap:nowrap;
    }
    nav a {
        width:100%;
    }
    main p {
        width:75%;
    }

    #light-blue {
        max-width:25%;
    }
    #medium-blue {
        max-width:25%;
    }
    #dark-blue {
        max-width:25%;
    }
}