/* light blue: #c4f0ff dark blue: #15109A darkest blue: #120E76
 * */


body {
    max-width:960px;
    margin:auto;
    background-color:#c4f0ff60;
    font-family: 'Noto Sans', sans-serif;
}
header {
    display:flex;
    justify-content:center;
    background-color:#15109A;
    color:#c4f0ff;
    padding:10px;
}
header img {
    max-width:25%;
}
nav {
    display:flex;
    background-color:#120E76;
    justify-content:space-around;
    flex-wrap:wrap;
}
nav a {
    text-decoration:none;
    padding:15px;
    color:#c4f0ff;
    font-size:20px;
    text-align:center;
}
nav a:hover{
    background-color:#c4f0ff;
    color:#120E76;
}
main {
    padding:5px 20px;
}
main p {
    text-align:justify;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', cursive;
}
footer {
    text-align:center;
    background-color:#15109A;
    color:#c4f0ff;
    padding:10px;
}

#light-blue {
    background-color:#c4f0ff;
    border:2px solid black;
    border-radius:5px;
    color:#120E76;
    padding:10px;
    text-align:center;
}
#medium-blue {
    background-color:#15109A;
    border:2px solid black;
    border-radius:5px;
    color:#c4f0ff;
    padding:10px;
    text-align:center;
}
#dark-blue {
    background-color:#120E76;
    border:2px solid black;
    border-radius:5px;
    color:#c4f0ff;
    padding:10px;
    text-align:center;
}