@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');

body {
    font-family: 'Lato', sans-serif;
    max-width:960px;
}
.body {
    margin:0 auto;
}
header, footer {
    text-align:center;
    background-color:lavender;
    border:none;
    border-radius:10px;
    padding:5px 0 5px 0;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
}

main {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:7px;
    border:1px;
    box-shadow:0 0 5px grey;
}
main section {
    background-color:lavender;
}
img {
    width:200px;
}

#pandora {
    grid-column-start:1;
    grid-column-end:2;
}
#byu {
    grid-column-start:2;
    grid-column-end:3;
}
#patreon {
    grid-column-start:3;
    grid-column-end:4;
}