@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap');

body {
    font-family: 'Lato', sans-serif;
    max-width:960px;
}
.body {
    margin:0 auto;
}
header, footer {
    text-align:center;
    background-color:lavender;
    padding:5px 0;
}
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
}

main {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px;
    margin:5px 0 5px 0;
    justify-items:center;
}
main section {
    background-color:azure;
    border-color:darkblue;
    border-radius:10px;
    box-shadow:0 0 5px grey;
    padding:0 5px 5px 5px;
}
section h2, h3 {
    text-align:center;
    padding:10px 0;
}
img {
    width:300px;
}
section p {
    color:grey;
    text-align:justify;
    padding:5px;
}

#pandora {
    grid-column:1 / 2;
}
#pandora img {
    justify-self:center;
}
#byu {
    grid-column:2 / 3;
}
#patreon {
    grid-column:3 / 4;
}