/* The color scheme includes #e7f0ed, #e7ffed (data rows) and 
* #628ca6, #7fb9c2 along with standard white and black */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

table {
    box-shadow:10px 10px 10px #628ca6;
}
table, td, th {
    text-align:center;
    border:1px solid black;
    border-collapse:collapse;
    font-family: 'Ubuntu', sans-serif;
    padding:.3em .5em .3em .5em;
}
thead, tfoot {
    background-color:#7fb9c2;
}
thead {
    font-weight:bold;
    font-size:1.2em;
}
tfoot {
    font-size: .8em;
}
tbody {
    background-color:#e7ffed;
}
th {
    background-color:#628ca6;
    color:white;
}

tbody tr:nth-child(even) {
    background-color:#e7f0ed;
}

#change {
    background-color:#628ca6;
    color:white;
}