@media only screen and (min-width:64rem) {
    nav button {
        display:none;
    }
    nav ul {
        margin-left:-4.5%;
    }
    nav ul li a {
        padding:.6rem 1rem;
        font-size:1.4em;
    }
    nav ul.hide {
        display:block;
    }
    nav ul li {
        float:left;
    }

    .map {
        max-width:30%;
    }

    
    
    .forecast {
        background-color:transparent;
        color:black;
        font-size:1.3em;
        text-align:left;
    }
    .forecast-icons {
        background-color:#15109A;
        color:#c4f0ff;
        display:block;
        margin:0 auto;
    }
        
    .weathericon {
        max-width:75px;
    }
    .articles {
        background-color:#15109A;
        color:#c4f0ff;
    }
    .map {
        width:25%;
        float:left;
        padding:10px;
    }
    .social {
        display:inline;
        max-width:20px;
    }
    
}