@media only screen and (min-width:32.5em) {
    nav ul li a {
        padding:.8rem 1rem;
    }
    
    .map {
        width:80%;
        display:block;
        margin:auto;
    }
    #article-pic {
        max-width:25%;
        margin:1em;
        float:right;
        box-shadow:0 0 30px #777;
    }
}