@media only screen and (min-width:32.5em) {
    
    /* PRESTON PAGE */
    nav ul li a {
        padding:.8rem 1rem;
    }
    
    .articles {
        padding:20px;
    }
    .top {
        position:relative;
        height:300px;
    }
    .weathersum {
        position:absolute;
        top:50px;
        left:50px;
    }
    .footer-map {
        text-align:center;
    }
    .article-pic {
        margin:5px;
        float:right;
        box-shadow:0 0 30px #777;
    }


    /* GALLERY PAGE */

    #weather-pics {
        grid-template-columns:1fr 1fr;
        grid-gap:15px;
    }
    #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
        margin:0;
    }
}