@media only screen and (min-width:64rem) {
    nav button {
        display:none;
    }
    nav ul {
        margin-left:-4.5%;
    }
    nav ul li a {
        padding:.6rem 1rem;
        font-size:1.4em;
    }
    nav ul.hide {
        display:block;
    }
    nav ul li {
        float:left;
    }

    .weathersum {
        display:grid;
        grid-template-columns:300px;
        grid-template-rows:40px 1fr;
        border:2px solid black;
        float:left;
        background-color:#c4f0ff60;
    }
    
}