@media only screen and (min-width:32.5em) {
    nav ul li a {
        padding:.8rem 1rem;
    }
    .articles p {
        display:inline;
    }
    #article-pic {
        max-width:50%;
        float:right;
    }
}