/* light blue: #c4f0ff dark blue: #15109A darkest blue: #120E76 */

body {
    max-width:960px;
    margin:auto;
    background-color:#c4f0ff60;
    font-family: 'Noto Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', cursive;
}
header, footer {
    background-color:#15109A;
    color:#c4f0ff;
}
header {
    display:flex;
    justify-content:center;
    padding:10px;
}
#main-icon {
    max-width:25%;
}
nav {
    background-color:#120E76;
}
nav button {
    margin:.2rem 2%;
    background-color:transparent;
    border:none;
    font-size:1.6rem;
    color:#c4f0ff;
}
nav a {
    text-decoration:none;
    padding:15px;
    color:#c4f0ff;
    font-size:20px;
    text-align:center;
}
nav a:hover{
    background-color:#c4f0ff;
    color:#120E76;
}
nav ul {
    list-style-type:none;
}
nav ul li a {
    display:block;
    padding:.8rem 2%;
    text-decoration:none;
}
nav ul.hide {
    display:none;
}


.clearfix:after {
    content:"";
    display:table;
    clear:both;
}