@media only screen and (min-width:32.5em) {
    
    /* PRESTON PAGE */
    nav ul li a {
        padding:.8rem 1rem;
    }
    
    .articles {
        padding:20px;
    }
    .top {
        position:relative;
        height:300px;
    }
    .weathersum {
        position:absolute;
        top:20px;
        left:50px;
    }
    .weathersum p {
        margin:.5em 0 .5em 0;
    }
    .footer-map {
        text-align:center;
    }
    .article-pic {
        margin:5px;
        float:right;
        box-shadow:0 0 30px #777;
    }


    /* GALLERY PAGE */

    #weather-pics {
        grid-template-columns:1fr 1fr;
        grid-gap:15px;
    }
    #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
        margin:0;
    }


    /* STORM CENTER PAGE */

    form label.sev input {
        max-width:40%;
    }


    /* HOME PAGE */

    .news {
        width:100%;
    }
    .towns section {
        width:90%;
        display:grid;
        grid-template-columns:1fr 1fr;
        justify-items:center;
        align-items:center;
    }
    .towns section:nth-child(even) img {
        grid-column:1/2;
        grid-row:1/6;

    }
    .towns section:nth-child(odd) img {
        grid-column:2/3;
        grid-row:1/6;
        
    }
    .towns section:nth-child(even) h2, .towns section:nth-child(even) h5, .towns section:nth-child(even) p {
        grid-column:2/3;
    }
    .towns section:nth-child(odd) h2, .towns section:nth-child(odd) h5, .towns section:nth-child(odd) p {
        grid-column:1/2;
    }
}